<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>
        <p>The customer is confirmed : <span th:text="${customer.firstName + ' ' + customer.lastName}" ></span></p>
        <br>
        <p><span th:text="${customer.firstName + ' has ' + customer.freePasses + ' passes'}" ></span></p>
        <p><span th:text="${customer.firstName + ' lives at the postal code ' + customer.postalCode}" ></span></p>
        <p><span th:text="${customer.firstName + ' study the course ' + customer.courseCode}" ></span></p>
</body>
</html>