<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Input Page</title>

<!-- reference to css file -->
<link rel="stylesheet" th:href="@{/css/inputPage.css}">

</head>

<body>

	<h3>Enter Your Name</h3>

	<form th:action="@{/processForm}" method="get">
		<p>For version 1</p>
		<input type="text" name="name" placeholder="your name"> <br>
		<input type="submit" value="Submit">
	</form>

	<form th:action="@{/processFormVersionTwo}" method="get">
		<p>For version 2</p>
		<input type="text" name="name" placeholder="your name"> <br>
		<input type="submit" value="Submit">
	</form>
	
	<form th:action="@{/processFormVersionThree}" method="get">
		<p>For version 3</p>
		<input type="text" name="name" placeholder="your name"> <br>
		<input type="submit" value="Submit">
	</form>
	

</body>

</html>