<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Input Page</title>

<!-- reference to css file -->
<link rel="stylesheet" th:href="@{/css/inputPage.css}">

</head>

<body>

	<h3>Enter Your Name</h3>

	<hr>

	<form th:action="@{/processForm}" method="post">
		<input type="text" name="name" placeholder="your name"> <br>
		<input type="submit" value="Submit V1">
	</form>
	
	<hr>

	<form th:action="@{/processFormVersionTwo}" method="post">
		<input type="text" name="name" placeholder="your name"> <br>
		<input type="submit" value="Submit V2">
	</form>

	<hr>
	
	<form th:action="@{/processFormVersionThree}" method="post">
		<input type="text" name="name" placeholder="your name"> <br>
		<input type="submit" value="Submit V3">
	</form>
	
	<hr>

</body>

</html>