<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Student Form</title>
		<link rel="stylesheet" th:href="@{/css/inputPage.css}">
	</head>
	<body>
	
			<h3>STUDENT REGISTRATION FORM</h3>

			<hr>

		<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
			<h3>Enter Your First Name</h3>
			<input type="text" th:field="*{firstName}" placeholder="First Name">
			<h3>Enter Your Last Name</h3>
			<input type="text" th:field="*{lastName}" placeholder="Last Name"> 
			<h3>Please Select Your Country</h3>
			<select th:field="*{country}">
				<option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>			
			</select>
			<h3>Which Programming Language Do You Know</h3>
			<div>
				<input type="radio" th:field="*{programmingLanguage}" th:value="Go" th:text="Go">	
				<input type="radio" th:field="*{programmingLanguage}" th:value="Java" th:text="Java">
				<input type="radio" th:field="*{programmingLanguage}" th:value="Python" th:text="Python">
			</div>
			<br>
			<input type="submit" value="Submit">
		</form>
		
	</body>
</html>	