<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Student Form Confirmation</title>
		<link rel="stylesheet" th:href="@{/css/outputPage.css}">
	</head>
	<body>
	
	
		<h3>THIS IS A STUDENT CONFIRMATION PAGE</h3>
			
		<hr>

		<h3>Hello <span th:text="${student.firstName}"></span> from the developer</h3>

		<hr>

		<p>
			The student is confirmed : <span th:text="${student.firstName} + ' ' + ${student.lastName}" ></span>
		</p>
		
		<p>
			The student <span th:text="${student.firstName} + ' ' + ${student.lastName}" ></span> lives in <span th:text="${student.country}"></span>
		</p>

		<p>
			<span th:text="${student.firstName} + ' fav programming language is ' + ${student.programmingLanguage}" ></span>
		</p>

	</body>
</html>	